<ul class='list-group list-group-flush'>
    <li class='list-group-item'>
        <a href='#alpha_index_0'>0</a>
    </li>
    <li class='list-group-item'>
        <a href='#alpha_index_1'>1</a>
    </li>
    <li class='list-group-item'>
        <a href='#alpha_index_2'>2</a>
    </li>
    <li class='list-group-item'>
        <a href='#alpha_index_3'>3</a>
    </li>
    <li class='list-group-item'>
        <a href='#alpha_index_4'>4</a>
    </li>
    <li class='list-group-item'>
        <a href='#alpha_index_5'>5</a>
    </li>
    <li class='list-group-item'>
        <a href='#alpha_index_6'>6</a>
    </li>
    <li class='list-group-item'>
        <a href='#alpha_index_7'>7</a>
    </li>
    <li class='list-group-item'>
        <a href='#alpha_index_8'>8</a>
    </li>
    <li class='list-group-item'>
        <a href='#alpha_index_9'>9</a>
    </li>
</ul>